.canvas{
    width: 500px;
    height: 600px;
    background-color: #4d0f00;
    overflow: hidden; /*Con el hidden valor, se recorta el desbordamiento y se oculta el resto del contenido:*/
    filter:blur(2px); /*desenfocar*/
}
.frame{
    border: black solid 50px;
    width: 500px;
    padding: 50px;
    margin: 20px auto; /*20px para la parte superior e inferior y auto hara que este centrado*/
  }
.one{
    width: 425px;
    height: 150px;
    background-color: #efb762;
    margin: 20px auto; /*20px para la parte superior e inferior y auto hara que este centrado*/
} 

.two{
    width: 475px;
    height: 200px;
    background-color: #8f0401;
    margin: 0px auto 20px;
  }
  .three{
    width:91%;
    height: 28%;/*usando % en vez de pix para tambien modificar dimension*/
    background-color: #b20403;
    margin: auto;
  }